- @title = "Robot: #{@robot.name}"

.row
  .col-span-6.col-offset-1
    %img(src="#{settings.config.streamer.url}/video/#{@robot.id}")
    .page-header
      %h2
        = @robot.name
        %small= @robot.location
      %ul.list-inline
        %li
          = haml :"robot/_twitter_tweet"
        %li
          = haml :"robot/_facebook_like",
            :locals => { :url => "#{settings.config.web.url}/robot/#{@robot.id}" }
        %li
          = haml :"robot/_google_plus"
  .col-span-3.col-offset-1
  .col-span-1
