!!! 5
%html
  %head
    %meta(charset="utf-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="description" content="")
    %title= "Tiny Sea Bots - #{@title}"
   
    =css :application 
  %body
    .row
      .col-span-12
        = haml :"shared/nav"
    .row
      .col-span-12
        = haml :"shared/notifications"
    .row.content
      .col-span-12
        = yield
    .row
      .col-span-12
        = haml :"shared/footer"
    = haml :"shared/javascript"
